.fixtures-box{
    background-color: rgb(255, 255, 255);
    height: 1000px;
    border-radius: 5px;
    position:relative;
    margin-bottom:1%;
}

.league-title{
    padding-top:1%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.fixture-labels{
    background-color:rgba(250, 235, 215, 0.623);
    color:rgb(0, 0, 0);
}

.fixture-teams img{
    width: 40%;
    height: 50%;
}



