.fixtures-box{
    background-color: rgb(255, 255, 255);
    height: 1000px;
    border-radius: 5px;
    position:relative;
    margin-bottom:1%;
}

.league-title{
    padding-top:1%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.fixture-labels{
    background-color:rgba(250, 235, 215, 0.623);
    color:rgb(0, 0, 0);
}

.fixture-teams img{
    width: 80%;
    height: 100%
}

.selection{
    background-color: rgb(191, 203, 255);
    border-radius: 5px;
    padding: 1%;   
}


.selection button{
    background-color: rgb(255, 255, 255);
    color:black;
    border-width: 0;
}

.dropdown-form img{
    width: 5%;
    height: 10%;
}

